/* register.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-box {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    width: 350px;  /* slightly wider to fit phone/address fields */
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}
p { text-align: center; }
.error { color: red; text-align: center; }
.success { color: green; text-align: center; }

a{
    color: #28a745; 
    text-decoration: none;
}